<div class="detail-form">
	<div class="form-group">
		<div class="row">
			<label class="col-sm-4 col-md-3 control-label f-w-700">Location of the Event</label>
			<div class="col-sm-6 col-md-4">
			  <select class="form-control">
				<option></option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			  </select>
			</div>
		</div>
	</div>
</div>
<h3 class="event-name">Mike Ross</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default custom-panel">
		<div class="panel-heading" role="tab" id="headingOne">
		  <h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="f-w-700">
			  Profile Forwards/Handle QR's scanned on 03/03/2016
			</a>
		  </h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		  <div class="panel-body">
			<div class="event-block">
				<div class="row">
					<div class="col-sm-8 col-md-8">
						<div class="event-detail">
							<div class="company-img">
								<img src="/img1.png" class="img-circle" alt="" />
							</div>
							<div class="company-info">
								<p class="f-w-600">John</p>
								<p>Company</p>
								<p>23:59 PM</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="event-btn">
							<p class="f-w-600">New Street , Main lane 1234, Block A<p>
							<p class="f-w-600">New Delhi</p>
						</div>
					</div>
				</div>
			</div>
			<div class="event-block">
				<div class="row">
					<div class="col-sm-8 col-md-8">
						<div class="event-detail">
							<div class="company-img">
								<img src="/img1.png" class="img-circle" alt="" />
							</div>
							<div class="company-info">
								<p class="f-w-600">John</p>
								<p>Company</p>
								<p>23:59 PM</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="event-btn">
							<p class="f-w-600">New Street , Main lane 1234, Block A<p>
							<p class="f-w-600">New Delhi</p>
						</div>
					</div>
				</div>
			</div>
			<div class="event-block">
				<div class="row">
					<div class="col-sm-8 col-md-8">
						<div class="event-detail">
							<div class="company-img">
								<img src="/img1.png" class="img-circle" alt="" />
							</div>
							<div class="company-info">
								<p class="f-w-600">John</p>
								<p>Company</p>
								<p>23:59 PM</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="event-btn">
							<p class="f-w-600">New Street , Main lane 1234, Block A<p>
							<p class="f-w-600">New Delhi</p>
						</div>
					</div>
				</div>
			</div>
			<div class="event-block">
				<div class="row">
					<div class="col-sm-8 col-md-8">
						<div class="event-detail">
							<div class="company-img">
								<img src="/img1.png" class="img-circle" alt="" />
							</div>
							<div class="company-info">
								<p class="f-w-600">John</p>
								<p>Company</p>
								<p>23:59 PM</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="event-btn">
							<p class="f-w-600">New Street , Main lane 1234, Block A<p>
							<p class="f-w-600">New Delhi</p>
						</div>
					</div>
				</div>
			</div>
			<div class="event-block">
				<div class="row">
					<div class="col-sm-8 col-md-8">
						<div class="event-detail">
							<div class="company-img">
								<img src="/img1.png" class="img-circle" alt="" />
							</div>
							<div class="company-info">
								<p class="f-w-600">John</p>
								<p>Company</p>
								<p>23:59 PM</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="event-btn">
							<p class="f-w-600">New Street , Main lane 1234, Block A<p>
							<p class="f-w-600">New Delhi</p>
						</div>
					</div>
				</div>
			</div>
			<div class="event-block">
				<div class="row">
					<div class="col-sm-8 col-md-8">
						<div class="event-detail">
							<div class="company-img">
								<img src="/img1.png" class="img-circle" alt="" />
							</div>
							<div class="company-info">
								<p class="f-w-600">John</p>
								<p>Company</p>
								<p>23:59 PM</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="event-btn">
							<p class="f-w-600">New Street , Main lane 1234, Block A<p>
							<p class="f-w-600">New Delhi</p>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>