<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
        <meta name="author" content="">
		<title>Handle Directory</title>	
		
        <!-- Bootstrap Core CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">

		<!-- Theme Custom CSS -->
		<link href="assets/css/style.css" rel="stylesheet">
		
		<!-- Custom Fonts -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<!-- Web Fonts  -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />

	</head>
	<body>

		<div class="handle-login-bg">
			<div class="container">
				<div class="handle-login-box">
					<div class="login-left text-center">
						<img src="/logo-a1.png" class="img-responsive" alt="Logo" />
					</div>
					<div class="login-middle">
						<h3 class="handle-login-heading">Login</h3>
						<div class="handle-login-form">
							<%= form_for(:session, url: handle_directory_login_path) do |f| %>
								<div class="form-group">
									<%= f.email_field :email, class: 'form-control', placeholder: "Email/Username", required: true %>
								</div>
	
								<div class="form-group">
									<%= f.password_field :password, class: 'form-control', placeholder: "Password", required: true %>
								</div>
								<a href="/handle_directory/passwords/forget_password" class="forget-msg">Forgot Password?</a>
								<div class="m-t-20"><button type="submit" class="btn btn-send link-msg">Sign In</button></div>
    						<% end %>
						</div>
						<div class="login-or text-center hidden-xs">
							<img src="/or.png" alt="" />
						</div>
						<div class="login-right">
							<div class="or-sec"></div>
							<div class="handle-login-msg">Don’t have an account?</div>
							<%= link_to "Create Account", new_handle_directory_home_path,  class: "btn btn-send link-msg", type: "button"%>
							<div class="handle-login-msg m-t-20">Sign in with your Facebook or Linkedin accounts</div>
							<div>
								<a href="" class="btn btn-primary link-msg"><i class="fa fa-facebook"></i></a>
								<a href="" class="btn btn-info link-msg"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</body>
</html>
