<%# if current_attendee.role.eql?("organiser") %>

<!-- <section class="main-block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs link-msg">
						<li class="active"><a href="#default-tab-1" data-toggle="tab">Events</a></li>
						<li class=""><a href="#default-tab-2" data-toggle="tab">Attendees</a></li>
						<li class=""><a href="#default-tab-3" data-toggle="tab">Requests</a></li>
						<li class=""><a href="#default-tab-4" data-toggle="tab">Request to the Manager</a></li>
					</ul>					
				</div>
			</div>
		</div>
	</section>	 -->
<%#end%>