<div class="container">
	<h2>Account Settings</h2>
</div>

<div id="exTab2" class="container">
	<%= render 'heading' %>
	<div class="tab-content ">
		<div class="tab-pane active" id="1">
			<h3>Advance Tab</h3>
		</div>
	</div>
</div>

<hr>
</hr>
