<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
        <meta name="author" content="">
		<title>Forward Info</title>	
		
        <!-- Bootstrap Core CSS -->

		<!-- Theme Custom CSS -->
		<link href="assets/stylesheets/style.css" rel="stylesheet">
		
		<!-- Custom Fonts -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<!-- Web Fonts  -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />

	</head>
	<body class="login-bg">
       
		<div class="login-box">
			<div class="container">
				<div class="login-logo">
					<img src="/logo.png" alt="logo" />
				</div>		 
				
				<div class="login-box-body">
					<h1 class="login-heading text-center">Forgot Password</h1>
					<div class="login-msg text-center">Enter your registered email to retrieve your password</div>
					<div class="row">
						<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">									<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

								<div class="login-form m-t-30">								
									<div class="form-group">
									  <%= f.email_field :email, autofocus: true,:class=>"form-control"%>
									</div>
									<button type="submit" class="btn btn-submit btn-block m-t-20">Submit</button>
								</div>	
							<%end%>
						</div>
					</div>
				</div>
			</div>						
		</div>
		<!-- /.login-box -->
			
	    <script src="assets/javascripts/jquery.js"></script>
		<script src="assets/javascripts/bootstrap.min.js"></script>
		
	</body>
</html>
