<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
        <meta name="author" content="">
		<title>Handle Directory</title>	
		
        <!-- Bootstrap Core CSS -->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		
		<!-- Custom Fonts -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<!-- Web Fonts  -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />

	</head>
	<body>
	
		
		<div class="handle-login-bg">
			<div class="container">
				<div class="handle-login-box">
					<div class="login-left text-center">
						<img src="/handle_logo.png" class="img-responsive" alt="Logo" />
					</div>
					<div class="login-middle">
						<h3 class="handle-login-heading">FORGOT PASSWORD</h3>
						<%= form_for :user, url: handle_directory_passwords_reset_password_path do |f|%>
							<div class="handle-login-form forgot-form">
								<div class="handle-login-msg">No need to worry just type in your e-mail and we will get back to you.</div>
								<div class="row">
									<div class="col-sm-8 col-md-6">
										<div class="form-group">
											<%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
										</div>
									</div>
								</div>
								<div class="handle-login-msg">After you submit your email address, you"ll recieve an email with a pasword that will let you login your account.</div>
								<div class="m-t-20"><button type="submit" class="btn btn-send link-msg">Submit</button></div>
								
							    Remember Password? <a href="/handle_directory/login" class="blue-a"><strong>Sign In</strong></a> Here
							</div>
						<%end%>
					</div>
				</div>						
			</div>
		</div>
		
		
		<!--footer-->
		<footer class="main-footer white-a black-bg">
			<div class="text-center">© All right reserved 2016</div>
		</footer>
	</body>
</html>