// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
 //$menubar-width: 150px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$skinLogo: url("1.png") no-repeat 5px 5px;
#header{width:100% !important;padding:4px 0.5px !important;} 

//$skinActiveColor: #00FF00;
//$skinHeaderBck: #002744;
//$panelHeaderBck: #002744;

//@import "active_skin";


//$skinMainFirstColor: #002744;
//$skinMainSecondColor: #00FF00;
//$skinBorderWindowColor: #002744;

@import "wigu/active_admin_theme";

form input[type="text"], form input[type="password"], form input[type="email"], form input[type="number"], form input[type="url"], form input[type="tel"], form input[type="date"], form textarea {
    border: 1px solid #b1b1b1 !important;
    border-radius: 3px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 0.95em;
    outline: medium none;
    padding: 8px 10px 7px;
    width: calc(80% - 22px);
}