html{height:100%;}
body {font-family: Raleway;font-size: 16px;color:#252525;}
a:hover{text-decoration:none;}
a:focus{outline: 0;}
li{list-style:none;}
form input[type="text"], form input[type="password"], form input[type="email"], form input[type="number"], form input[type="url"], form input[type="tel"], form textarea{border:1px solid #b1b1b1;}

/*--login--*/
.login-bg{background:url("/login_bg.png") no-repeat;background-size:cover;width:100%;height:100%;}
.login-msg{font-weight:500;margin:10px 0 20px;color:#fff!important;}
.login-box{padding:7% 0;color:#fff;}
.login-logo{text-align:center;margin:0 0 20px;}
.login-heading{margin:10px 0 40px;font-weight:500;}
.login-form .form-group{margin-bottom:20px;}
.login-form .form-control{background-color: transparent;width:100%;border-radius: 0;padding:6px 18px;color:#fff;font-weight:600;}
.separator{border-bottom:1px solid #818b91;margin:15px 0;}
.login-form input::-webkit-input-placeholder {color: #818b91 !important;}
.login-form input:-moz-placeholder{color: #818b91 !important;}
.login-form input::-moz-placeholder {color: #818b91 !important;}
.login-form input:-ms-input-placeholder {color: #818b91 !important;}
.login-form .form-control:focus{border-color: #00b7c8;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 183, 200,.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 183, 200,.6);}

/*--header--*/
.top-nav{border-bottom:2px solid #000;margin-bottom:0;}
.top-nav .navbar-brand {padding:10px;}
.top-nav-right{position:relative;}
.top-nav-right > li > a{color:#000;font-weight:600;text-decoration: none;}
.top-nav-right > li > a:after {content: "|";position: absolute;top: 20px;right:0;color:#cccccc;}
.top-nav-right > li > a:focus,.top-nav-right > li > a:hover,.top-nav-right > li:hover,
.top-nav-right .open>a, .top-nav-right .open>a:focus, .top-nav-right .open>a:hover{background:transparent!important;}
.top-nav-right  li:last-child a::after {content: "";}
.top-nav-right > li > a>i{font-size:24px;color:#00b7c8;line-height:30px;}
.top-nav-right > li > a>img{width:35px;height:35px;}
.top-nav-right > li > a>.badge{width:15px;height:15px;border-radius:100%;background:#ed1c24;position:absolute;top:5px;right:7px;font-size:10px;padding:1px;}

/*--footer--*/
.main-footer {background: #00b7c8;padding: 25px 0;}

/*--box--*/
.main-block{margin:30px 0 60px 0;min-height:535px;}
.box{border:1px solid #ccc;box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);}
.box-head{background:#00b7c8;color:#fff;padding:10px 20px;}
.box-head h3{margin:0;}
.box-body{min-height:650px;}
.box-nav>li>a{font-size:24px;color:#fff;border-radius:0!important;border:medium none!important;text-decoration: none;}
.box-nav>.active>a, .box-nav>.active>a:focus, .box-nav>.active>a:hover, .box-nav>li>a:focus, .box-nav>li>a:hover{box-shadow:1px 2px 4px rgba(0, 0, 0, .5);border:medium none!important;color:#000!important;background:#fff;margin:0;}
.content-block{padding:40px 60px;}

/*---Change Password--*/
.detail-form .form-group{margin-bottom:20px;}
.detail-form label{color:#252525;font-weight:500;word-wrap:break-word;}
.detail-form .form-control{border-radius:0 !important;box-shadow:none;height:auto;padding:8px 12px;}
.detail-form .form-control:focus {border-color: #8ee7ef;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(168, 236, 243);box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(168, 236, 243);}

/*---Event Invitation---*/
.tab-cont-head{padding:0 0 8px;color:#252525;border-bottom:1px solid #000;margin:0;}
.event-block{padding:20px 0;border-bottom:1px solid #00b7c8;}
.event-btn{text-align:right;}
.event-detail{display:block;margin:0 0 15px;position:relative;}
.event-left,.event-right{display:inline-block;vertical-align:top;word-wrap:break-word;}
.event-left{width:100%;max-width:25%;font-weight:700;}
.event-right{width:100%;max-width:73%;}
.event-block:last-child{border-bottom:medium none;}
.event-name{font-size:20px;font-weight:700;margin:10px 0 20px;}

/*--Past Event Details--*/
.custom-panel{border:medium none;box-shadow:none;}
.custom-panel>.panel-heading {color: #252524;background-color: #fff;border: 1px solid #00b7c8;border-radius:0;}
.custom-panel .panel-body {padding:0;}
.company-img{position:absolute;top:0;left:0;}
.company-img img{width:70px;height:70px;border:2px solid #00b7c8;}
.company-info{padding-left:90px;}

/*--All Employees--*/
.custom-table>thead>tr>th{background: #00b7c8;color:#fff;}
.btn-right{float:right;}

/*--Notification---*/
.notice-block{padding:0px 30px;border-bottom:1px solid #fff;padding-top: 10px}
.notice-block:last-child{border-bottom:medium none;}
.notice-img img{border-radius:3px;}

/*---inbox--*/
.direct-chat-messages {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);-o-transform: translate(0, 0);transform: translate(0, 0);padding: 10px;overflow: hidden;-webkit-transition: -webkit-transform 0.5s ease-in-out;-moz-transition: -moz-transform 0.5s ease-in-out;transition: transform 0.5s ease-in-out;}
.direct-chat-msg,
.direct-chat-text {display: block;}
.direct-chat-msg {margin-bottom: 15px;}
.direct-chat-text {border-radius:0 15px 15px 15px;padding: 10px 15px;background: #f0f0f0;min-width:300px;display:inline-block;margin:0 0 3px;}
.direct-chat-img {border-radius: 50%;width: 40px;height: 40px;}
.direct-chat-info {font-size: 0.875em;position: relative;color:#000;display:inline-block;width:93%;vertical-align:top;}
.direct-chat-name {font-weight: 600;margin:0 0 3px;}
.direct-chat-timestamp {color: #999;}
.right .direct-chat-img{float: right;}
.right{text-align:right;}
.right .online {left:16px;}
.right .direct-chat-text {border-radius:15px 0 15px 15px;}
.online{background:#00b7c8;border-radius:50%;width:8px;height:8px;border:1px solid #fff;display:inline-block;position:absolute;right:16px;top:0;}
.direct-chat-active{display:inline-block;width:5%;vertical-align:top;position:relative;}
.text-box{background:#f0f0f0;border-radius:10px;border-color:#f0f0f0;box-shadow:none;padding:14px 12px;height:auto;}
.send-options>li{display:inline-block;margin:10px 4px;}
.send-options>li>a{color:#00b7c8;}
.send-options>li>a>i{font-size:24px;}
.separator-line{position:relative;height:34px;margin:15px 0;}
.chat-date{width:150px;margin:0px auto 0;background:#00b7c8;padding:2px 20px;color:#fff;z-index:999;position:absolute;left:0;right:0;border-radius:20px;text-align:center;}
.separator-line:after{border:1px solid #00b7c8;width:100%;position:absolute;content:"";display:block;height:1px;top: 37%;}

/*--Profile Detail---*/
.profile-detail{font-weight:600;word-wrap:break-word;}

/*--Handle Login--*/
.handle-login-bg{background:url("/handle_bg.png") no-repeat;background-size:cover;width:100%;height:100%;}
.handle-login-box{background:rgba(255,255,255,0.7);border:1px solid #42f54b;margin:21% 0;padding:52px 20px;display:block;width:100%;}
.handle-login-msg{color:#000;font-weight:500;margin:10px 0 20px;}
.login-left,.login-middle,.login-right,.login-or,.handle-login-form{display:inline-block;vertical-align:middle;}
.login-left{width:33%;}
.login-right{width:38%;}
.login-or{width:9%;}
.handle-login-form{width:50%;}
.login-middle{width:66%;}
.login-left img{margin:0px auto;}
.handle-login-form .form-control{border-color:#90a3a3;border-radius:20px;padding:10px 22px;height:auto;}
.handle-login-form .form-control:focus{-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.025),0 0 4px rgb(66, 245, 75);box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgb(66, 245, 75);}
.handle-login-heading{text-transform:uppercase;margin:0 0 10px;font-weight:600;}

/*--Handle Forgot Password--*/
.forgot-form{width:90%;}

/*--Handle Signup--*/
.handle-signup-box{margin:12% 0;}

/*--Handle Inbox--*/
.handle-logo img{width:97px;}
.handle-navbar > li > a>i {color: #8b8b8b;}
.handle-separator-line .chat-date {background: #959595;}
.handle-separator-line:after{border-color:#959595;}
.handle-send-options>li>a {color: #1b1b1b;}

/*---Handle Edit Account--*/
.myCheckbox{padding-left:0!important;}
.myCheckbox input {display: none;position: relative;z-index: -9999;}
.myCheckbox span {width: 20px;height: 20px;display: block;background: url("/uncheck.png") no-repeat;}
.myCheckbox input:checked + span {background: url("/check.png") no-repeat;}
.checkbox-text {display: block;margin: 0 0 15px 35px;}
.myCheckbox {float: left;}
.profile-pic img{width:100px;height:100px;border-radius:50%;}
.social_profile{padding:20px 0;min-height:79px;}

/*--Handle My Profile Web--*/
.account-detail{background:url("/account-bg.png") no-repeat;background-size:cover;padding:50px 30px 30px 30px;}
.detail-block{display:block;}
.detail-left{display:inline-block;width:80%;}
.detail-right{display:inline-block;width:19%;}
.profile{position:relative;padding: 20px;}
.profile-img{position:absolute;top:5;left:0;bottom:5;}
.profile-img img{width:120px;height:120px;border:2px solid #fff;}
.profile-info{padding-left:120px;}
.profile-list>li{padding-right:20px;}
.social-icons>li>a{background-color:#fff;border-radius: 100%;display: block;font-size: 20px;height: 30px;margin: 0 5px;padding: 1px 3px;text-align: center;width: 30px;}
.social-icons>li>a{color:#000;}
.social-icons>li>a:hover{background-color:#42f54b;}
.mail-icons>li{margin:0 0 10px;}
.mail-icons>li>a{color:#3d3d3d;margin:0 0 10px;font-weight:600;}
.mail-icons>li>a>span>i{background-color:#3d3d3d;border-radius: 100%;height: 22px;padding: 3px 3px;text-align: center;width: 22px;color:#fff;font-size:14px;}

/*--button---*/
.btn-submit{background:#00b7c8;color:#fff;border:1px solid #00b7c8;border-radius:20px;padding:8px 22px;font-size:16px;}
.btn-submit:hover{background:#10abb9;color:#fff;border-color:#10abb9;}
.btn-blue{background:#00b7c8;color:#fff!important;border:1px solid #00b7c8;padding:8px 16px;font-size:16px;}
.btn-blue:hover{background:#10abb9!important;color:#fff;border-color:#10abb9;}
.btn-red{background:#ca0d0d;color:#fff;border:1px solid #ca0d0d;padding:8px 16px;font-size:16px;}
.btn-red:hover{background:#7b7a79;color:#fff;border-color:#991a1a;}
.btn-send,.btn-send:hover{background:#1b1b1b;color:#fff;border:1px solid #1b1b1b;border-radius:20px;padding:8px 22px;font-size:16px;}
.btn-green{background:#42f54b;border:1px solid #42f54b;padding:8px 16px;font-size:16px;}
.btn-green:hover{background:#1fd828;border-color:#1fd828;}
.btn-file{position: relative;overflow: hidden;background:#3d3d3d;border-radius:20px;padding:8px 22px;color:#fff!important;margin:0 0 0 40px;font-size:16px;}
.btn-file input[type=file] {position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;font-size: 100px;text-align: right;filter: alpha(opacity=0);  opacity: 0;outline: none;background: white;cursor: inherit;display: block;}
.btn-create,.btn-create:hover{background:#000;color:#fff;border:1px solid #000;padding:8px 22px;font-size:16px;white-space:normal;}
/*---------New CSS------------*/
.btn-edit{background:#fff;color:#000;border:1px solid #00b7c8;width:88px;border-radius:20px;padding:2px 15px;vertical-align:top;font-size:16px;font-weight: 600;text-decoration: none!important;}
.btn-edit:hover{background:#7b7a79 ;color:#fff;border-color:#10abb9;}
.btn-invite{background:#00b7c8;color:#fff!important;border:1px solid #00b7c8;padding:8px 16px;font-size:16px;text-decoration: none!important;}
.btn-invite:hover{background:#7b7a79;color:#38678B;border-color:#10abb9;}
.btn-decline{background:#ca0d0d;color:#fff!important;border:1px solid #ca0d0d;padding:8px 16px;font-size:16px;text-decoration: none!important;}
.btn-decline:hover{background:#7b7a79;color:#38678B;border-color:#991a1a;}
.btn-event{background:#df2f0d;color:#fff!important;border:1px solid #df2f0d;padding:0px 4px;font-size:10px;text-decoration: none!important;border-radius: 30px!important;}
.btn-event:hover{background:#8bbbbb!important;color:#fff;border-color:#df2f0d;}
.btn-handle-edit{background:#fff;color:#000!important;border:1px solid #df2f0d;padding:0px 4px;font-size:10px;text-decoration: none!important;border-radius: 30px!important;}
.btn-handle-edit:hover{background:#8bbbbb!important;color:#fff;border-color:#df2f0d;}

/*---color--*/
.white-a,.white-a:hover{color:#fff;}
.green-a,.green-a:hover{color:#42f54b;}
.blue-a,.blue-a:hover{color:#00b7c8!important;}
.gray-a{color:#647b91;}

/*---background---*/
.green-bg{background-color:#42f54b!important;}
.blue-bg{background-color:#00b7c8!important;}
.black-bg{background-color:#000!important;}
.brown-bg {background-color:#3d3d3d!important;}

/*-------margin--------*/
.m-0 {margin:0px;} 
.m-10 {margin:10px;}
.m-20 {margin:20px;}
.m-30 {margin:30px;}
.m-40 {margin:40px;}

/*-------margin-top--------*/
.m-t-0{margin-top:0px;}
.m-t-10{margin-top:10px;}
.m-t-20{margin-top:20px;}
.m-t-30{margin-top:30px;}
.m-t-40{margin-top:40px;}

/*-------margin-left--------*/
.m-l-0{margin-left:0px;}
.m-l-10{margin-left:10px;}
.m-l-20{margin-left:20px;}
.m-l-30{margin-left:30px;}
.m-l-40{margin-left:40px;}

/*-------margin-bottom--------*/
.m-b-0{margin-bottom:0px;}
.m-b-10{margin-bottom:10px;}
.m-b-20{margin-bottom:20px;}
.m-b-30{margin-bottom:30px;}
.m-b-40{margin-bottom:40px;}

/*-------margin-right--------*/
.m-r-0{margin-right:0px;}
.m-r-10{margin-right:10px;}
.m-r-20{margin-right:20px;}
.m-r-30{margin-right:30px;}
.m-r-40{margin-right:40px;}

/*---padding---*/
.p-0{padding:0;}

/*---font-weight---*/
.f-w-600{font-weight:600;}
.f-w-700{font-weight:700;}

/*---font-size---*/
.f-s-12{font-size:12px;}
.f-s-18{font-size:18px;}

/*---media query mobile---*/
@media(max-width:767px){
	body {font-size: 14px;}
	.xs-m-b-10{margin-bottom:10px;}
	.xs-m-b-20{margin-bottom:20px;}
	.login-heading{font-size:30px;}
	.login-box{padding:10% 2%;}
	.top-nav-right{text-align:center;}
	.top-nav-right>li{display:inline-block;vertical-align:top;}
	.top-nav .navbar-brand img{width:150px;}
	.top-nav .navbar-toggle{border:1px solid #ccc;}
	.top-nav .navbar-toggle .icon-bar{background:#ccc;}
	.box-body{min-height:auto;}
	.content-block{padding:40px 20px;}
	.box-nav>li>a{font-size:20px;}
	.event-left,.event-right{max-width:100%;}
	.event-btn{text-align:left;}
	.detail-panel{float: none !important;margin: 10px 0 0;word-wrap: break-word;}
	.notice-block{padding:10px;}
	.direct-chat-info {width:80%;}
	.direct-chat-active{width:18%;}
	.direct-chat-text{min-width:auto;}
	.login-left{margin:0 0 20px;}
	.login-left,.login-middle,.login-right,.login-or,.handle-login-form{width:100%;}
	.login-middle{text-align:center;margin:20px 0;}
	.or-sec{background: url("/or1.png") no-repeat center;padding: 10px;margin: 30px 0;}
	.handle-login-box{padding:20px;}
	.handle-logo img{width:73px!important;}
	.handle-login-heading{font-size:20px;}
	.detail-left{width:100%;}
	.detail-right{width:100%;text-align:right;}
	.profile-img img{width:60px;height:60px;}
	.profile-info{padding-left:65px;}
}
/*---media query mobile---*/

/*---media query tab---*/
@media (min-width: 768px) and (max-width: 1024px){
	.sm-m-b-5{margin-bottom:5px;}
	.login-heading{font-size:30px;}
	.content-block{padding:40px 20px;}
	.box-nav>li>a{font-size:20px;}
	.event-left{max-width:34%;}
	.event-right{max-width:65%;}
	.detail-panel{float: none !important;margin: 10px 0 0;word-wrap: break-word;}
	.direct-chat-info {width:92%;}
	.direct-chat-active{width:7%;}
	.login-left{width:24%;}
	.login-middle{width:70%;margin:0 0 0 20px;}
	.detail-left{width:70%;}
	.detail-right{width:29%;}
}
/*---media query tab---*/

/*Attendee tabs*/
.nav-tabs {
    background:#00b7c8;
    border-radius: 5px 5px 0 0;
	
}
.nav-tabs a{color:#fff;}
.tab-content {
    background: #f3f3f3;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 15px;
	border:1px solid #ddd;
	border-top:0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f3f3f3!important;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555!important;
    cursor: default;
}
.table > tbody > tr > td,  .table > tfoot > tr > td{vertical-align:middle; padding: 8px 15px;}
.table > thead > tr > th{background:#10181f; color:#fff; vertical-align:middle; padding: 8px 15px;}
.nav.nav-tabs > li  > a:hover, .nav.nav-tabs > li  > a:focus{background-color: #f3f3f3!important; color: #555555!important;}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {background: #f0f3f5;}
.viewbtn-link{color:#00b7c8;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {background-color: #00b7c8;     border-color: #00b7c8;     color: #ffffff;     cursor: default;     z-index: 3; }
.attendee-cent-s .btn{background:#00b7c8!important; border-color:#00b7c8!important; margin:0 0 10px 0;}

/*attendee list*/
.attendee-accor-s > .panel-inverse > .panel-heading {background: #00b7c8!important; color:#fff;}
.attendee-ul-s ul{margin:0; padding:0;}
.attendee-ul-s ul li{margin:0 0 10px 0; padding:0; list-style:disc; font-size:15px;}
.attendeereqtab-s label{font-size:14px;}

/**********************************28-09-16(yashpal)************************************************************/

.y-view-event{color:#00b7c8;}
.y-view-event1{color:#ca0d0d;}
.event-left.y-l1{font-weight:normal;}
.y-l1-txt{max-width:73%;}
.y-l1-txt1{max-width:25%;}
.y-e1{max-width:30%;}
.y-e2{max-width:69%;}
.y-import{display:inline-block;color:#000;font-weight:600;font-size:0.9em;width:39%;text-align:right;}
.y-heading-div{border-bottom: 1px solid #000;}
.y-invite{display:inline-block;width:59%;border:none;}
.y-o-icon{margin:0 10px;}
.y-manual-confm .btn.btn-default{background: #ca0d0d!important;border-color: #ca0d0d!important;color:#fff;}
.y-mtb{margin:10px 0;}


form input[type="text"], form input[type="password"], form input[type="email"], form input[type="number"], form input[type="url"], form input[type="tel"], form input[type="date"], form textarea {
    border: 1px solid #B1B1B1 !important;border-radius: 30px!important;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 0.95em;outline: medium none;padding: 8px 10px 7px;width: 100%;}
.handle-navbar > li > a > i {color: #8B8B8B !important;}

a, a:link, a:visited {color: #000 ;text-decoration: none;}

.simple-calendar {border: 2px solid #A1A1A1;padding: 0px 10px;}
table {border: 2px solid #DDDDDD !important;}
.calendar-title {font-size: 30px;padding: 5px 55px;}
.calendar-heading > a {font-size: 20px;text-decoration: none;}

.qr-code > img {border: 20px solid #30c1db;}
.forget-msg {color: #000!important}
.link-msg{color:#fff!important;}
.image-block{margin-top:20px;}
.image-block > img {border: 4px solid #30C1DB;}
.nav-tabs a {color: #FFFFFF !important;}
.tab-cont-head {border-bottom: 1px solid #000000;color: #252525;margin: 0;padding: 20px 6px 8px !important;}
.main-block .nav.nav-tabs{margin:0;}