html{height:100%;}
body {font-family: Raleway;font-size: 16px;color:#252525;}
a:hover{text-decoration:none;}
a:focus{outline: 0!important;}
li{list-style:none;}
form input[type="text"], form input[type="password"], form input[type="email"], form input[type="number"], form input[type="url"], form input[type="tel"], form textarea{border:1px solid #b1b1b1;}

/*--login--*/
.login-bg{background:url("/login_bg.png") no-repeat;background-size:cover;width:100%;height:100%;}
.login-msg{font-weight:500;margin:10px 0 20px;color:#fff!important;}
.login-box{padding:7% 0;color:#fff;}
.login-logo{text-align:center;margin:0 0 20px;}
.login-heading{margin:10px 0 40px;font-weight:500;}
.login-form .form-group{margin-bottom:20px;}
.login-form .form-control{background-color: transparent;width:100%;border-radius: 0;padding:6px 18px;color:#fff;font-weight:600;}
.separator{border-bottom:1px solid #818b91;margin:15px 0;}
.login-form input::-webkit-input-placeholder {color: #818b91 !important;}
.login-form input:-moz-placeholder{color: #818b91 !important;}
.login-form input::-moz-placeholder {color: #818b91 !important;}
.login-form input:-ms-input-placeholder {color: #818b91 !important;}
.login-form .form-control:focus{border-color: #00b7c8;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 183, 200,.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 183, 200,.6);}

/*--header--*/
.top-nav{border-bottom:2px solid #000;margin-bottom:0;}
.top-nav .navbar-brand {padding:10px;}
.top-nav-right{position:relative;}
.top-nav-right > li > a{color:#000;font-weight:600;text-decoration: none;}
.top-nav-right > li > a:after {content: "|";position: absolute;top: 20px;right:0;color:#cccccc;}
.top-nav-right > li > a:focus,.top-nav-right > li > a:hover,.top-nav-right > li:hover,
.top-nav-right .open>a, .top-nav-right .open>a:focus, .top-nav-right .open>a:hover{background:transparent!important;}
.top-nav-right  li:last-child a::after {content: "";}
.top-nav-right > li > a>i{font-size:24px;color:#00b7c8;line-height:30px;}
.top-nav-right > li > a>img{width:35px;height:35px;}
.top-nav-right > li > a>.badge{width:15px;height:15px;border-radius:100%;background:#ed1c24;position:absolute;top:5px;right:7px;font-size:10px;padding:1px;}

/*--footer--*/
.main-footer {background: #00b7c8;padding: 25px 0;}

/*--box--*/
.main-block{margin:30px 0 60px 0;min-height:535px;}
.box{border:1px solid #ccc;box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);}
.box-head{background:#00b7c8;color:#fff;padding:10px 20px;}
.box-head h3{margin:0;}
.box-body{min-height:650px;}
.box-nav>li>a{font-size:24px;color:#fff;border-radius:0!important;border:medium none!important;text-decoration: none;}
.box-nav>.active>a, .box-nav>.active>a:focus, .box-nav>.active>a:hover, .box-nav>li>a:focus, .box-nav>li>a:hover{box-shadow:1px 2px 4px rgba(0, 0, 0, .5);border:medium none!important;color:#000!important;background:#fff;margin:0;}
.content-block{padding:40px 60px;}

/*---Change Password--*/
.detail-form .form-group{margin-bottom:20px;}
.detail-form label{color:#252525;font-weight:500;word-wrap:break-word;}
.detail-form .form-control{border-radius:0;box-shadow:none;height:auto;padding:8px 12px;}
.detail-form .form-control:focus {border-color: #8ee7ef;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(168, 236, 243);box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(168, 236, 243);}

/*---Event Invitation---*/
.tab-cont-head{padding:0 0 8px;color:#252525;border-bottom:1px solid #000;margin:0;}
.event-block{padding:20px 0;border-bottom:1px solid #00b7c8;}
.event-btn{text-align:right;}
.event-detail{display:block;margin:0 0 15px;position:relative;}
.event-left,.event-right{display:inline-block;vertical-align:top;word-wrap:break-word;}
.event-left{width:100%;max-width:25%;font-weight:700;}
.event-right{width:100%;max-width:74%;}
.event-block:last-child{border-bottom:medium none;}
.event-name{font-size:20px;font-weight:700;margin:10px 0 20px;}
/*-----------Form Border-----------------*/
.content-block .tab-content{border:medium none;padding: 0;}
/*--Past Event Details--*/
.custom-panel{border:medium none;box-shadow:none;}
.custom-panel>.panel-heading {color: #252524;background-color: #fff;border: 1px solid #00b7c8;border-radius:0;}
.custom-panel .panel-body {padding:0;}
.company-img{position:absolute;top:0;left:0;}
.company-img img{width:70px;height:70px;border:2px solid #00b7c8;}
.company-info{padding-left:90px;}

/*--All Employees--*/
.custom-table>thead>tr>th{background: #00b7c8;color:#fff;}
.btn-right{float:right;}

/*--Notification---*/
.notice-block{padding:0px 30px;border-bottom:1px solid #fff;padding-top: 10px}
.notice-block:last-child{border-bottom:medium none;}
.notice-img img{border-radius:3px;}

/*---inbox--*/
.direct-chat-messages {-webkit-transform: translate(0, 0);-ms-transform: translate(0, 0);-o-transform: translate(0, 0);transform: translate(0, 0);padding: 10px;overflow: hidden;-webkit-transition: -webkit-transform 0.5s ease-in-out;-moz-transition: -moz-transform 0.5s ease-in-out;transition: transform 0.5s ease-in-out;}
.direct-chat-msg,
.direct-chat-text {display: block;}
.direct-chat-msg {margin-bottom: 15px;}
.direct-chat-text {border-radius:0 15px 15px 15px;padding: 10px 15px;background: #f0f0f0;min-width:300px;display:inline-block;margin:0 0 3px;}
.direct-chat-img {border-radius: 50%;width: 40px;height: 40px;}
.direct-chat-info {font-size: 0.875em;position: relative;color:#000;display:inline-block;width:93%;vertical-align:top;}
.direct-chat-name {font-weight: 600;margin:0 0 3px;}
.direct-chat-timestamp {color: #999;}
.right .direct-chat-img{float: right;}
.right{text-align:right;}
.right .online {left:16px;}
.right .direct-chat-text {border-radius:15px 0 15px 15px;}
.online{background:#00b7c8;border-radius:50%;width:8px;height:8px;border:1px solid #fff;display:inline-block;position:absolute;right:16px;top:0;}
.direct-chat-active{display:inline-block;width:5%;vertical-align:top;position:relative;}
.text-box{background:#f0f0f0;border-radius:10px;border-color:#f0f0f0;box-shadow:none;padding:14px 12px;height:auto;}
.send-options>li{display:inline-block;margin:10px 4px;}
.send-options>li>a{color:#00b7c8;}
.send-options>li>a>i{font-size:24px;}
.separator-line{position:relative;height:34px;margin:15px 0;}
.chat-date{width:150px;margin:0px auto 0;background:#00b7c8;padding:2px 20px;color:#fff;z-index:999;position:absolute;left:0;right:0;border-radius:20px;text-align:center;}
.separator-line:after{border:1px solid #00b7c8;width:100%;position:absolute;content:"";display:block;height:1px;top: 37%;}

/*--Profile Detail---*/
.profile-detail{font-weight:600;word-wrap:break-word;}

/*--button---*/
.btn-submit{background:#00b7c8;color:#fff;border:1px solid #00b7c8;border-radius:20px;padding:8px 22px;font-size:16px;}
.btn-submit:hover{background:#10abb9;color:#fff;border-color:#10abb9;}
.btn-blue{background:#00b7c8;color:#fff!important;border:1px solid #00b7c8;padding:8px 16px;font-size:16px;}
.btn-blue:hover{background:#10abb9;color:#fff;border-color:#10abb9;}
.btn-red{background:#ca0d0d;color:#fff;border:1px solid #ca0d0d;padding:8px 16px;font-size:16px;}
.btn-red:hover{background:#7b7a79;color:#fff;border-color:#991a1a;}

/*---------New CSS----Shashank--------*/
.btn-edit{background:#fff;color:#000;border:1px solid #00b7c8;border-radius:20px;padding:2px 15px;width:88px;vertical-align:top;font-size:16px;font-weight: 600;text-decoration: none!important;}
.btn-edit:hover{background:#7b7a79 ;color:#fff;border-color:#10abb9;}
.btn-invite{background:#00b7c8;color:#fff!important;border:1px solid #00b7c8;padding:8px 16px;font-size:16px;text-decoration: none!important;}
.btn-invite:hover{background:#7b7a79;color:#38678B;border-color:#10abb9;}
.btn-decline{background:#ca0d0d;color:#fff!important;border:1px solid #ca0d0d;padding:8px 16px;font-size:16px;text-decoration: none!important;}
.btn-decline:hover{background:#7b7a79;color:#38678B;border-color:#991a1a;}

/*-----------Pagination Shashank------------------*/
.pagination a, .pagination span.page.current {border-radius: 0;margin-right: 5px;padding: 4px 8px;}
.pagination a {background-color: #00B7C8 !important;background-image: linear-gradient(180deg, #00B7C8, #00B7C8);border: 1px solid #00b7c8;border-radius: 5px !important;color: #FFFFFF;display: inline-block;font-weight: normal;line-height: 15px;margin-right: 3px;padding: 4px 8px 3px 8px;text-decoration: none;}
.pagination a:hover{background-color: #7b7a79!important;background-image: linear-gradient(180deg, #7b7a79, #7b7a79);border: 1px solid #7b7a79;border-radius: 5px !important;color: #7b7a79;display: inline-block;font-weight: normal;line-height: 15px;margin-right: 3px;padding: 4px 8px 3px 8px;text-decoration: none;}
.pagination {border-radius: 4px;display: inline-block;margin: 25px 35px;padding-left: 0;}

/*---color--*/
.white-a,.white-a:hover{color:#fff;}
.green-a,.green-a:hover{color:#42f54b;}
.blue-a,.blue-a:hover{color:#00b7c8!important;}
.gray-a{color:#647b91;}

/*---background---*/
.green-bg{background-color:#42f54b;}
.blue-bg{background-color:#00b7c8;}

/*-------margin--------*/
.m-0 {margin:0px;} 
.m-10 {margin:10px;}
.m-20 {margin:20px;}
.m-30 {margin:30px;}
.m-40 {margin:40px;}

/*-------margin-top--------*/
.m-t-0{margin-top:0px;}
.m-t-10{margin-top:10px;}
.m-t-20{margin-top:20px;}
.m-t-30{margin-top:30px;}
.m-t-40{margin-top:40px;}

/*-------margin-left--------*/
.m-l-0{margin-left:0px;}
.m-l-10{margin-left:10px;}
.m-l-20{margin-left:20px;}
.m-l-30{margin-left:30px;}
.m-l-40{margin-left:40px;}

/*-------margin-bottom--------*/
.m-b-0{margin-bottom:0px;}
.m-b-10{margin-bottom:10px;}
.m-b-20{margin-bottom:20px;}
.m-b-30{margin-bottom:30px;}
.m-b-40{margin-bottom:40px;}

/*-------margin-right--------*/
.m-r-0{margin-right:0px;}
.m-r-10{margin-right:10px;}
.m-r-20{margin-right:20px;}
.m-r-30{margin-right:30px;}
.m-r-40{margin-right:40px;}

/*---padding---*/
.p-0{padding:0;}

/*---font-weight---*/
.f-w-600{font-weight:600;}
.f-w-700{font-weight:700;}

/*---font-size---*/
.f-s-12{font-size:12px;}
.f-s-18{font-size:18px;}

/*---media query mobile---*/
@media(max-width:767px){
	body {font-size: 14px;}
	.xs-m-b-10{margin-bottom:10px;}
	.xs-m-b-20{margin-bottom:20px;}
	.login-heading{font-size:30px;}
	.login-box{padding:10% 2%;}
	.top-nav-right{text-align:center;}
	.top-nav-right>li{display:inline-block;vertical-align:top;}
	.top-nav .navbar-brand img{width:150px;}
	.top-nav .navbar-toggle{border:1px solid #ccc;}
	.top-nav .navbar-toggle .icon-bar{background:#ccc;}
	.box-body{min-height:auto;}
	.content-block{padding:40px 20px;}
	.box-nav>li>a{font-size:20px;}
	.event-left,.event-right{max-width:100%;}
	.event-btn{text-align:left;}
	.detail-panel{float: none !important;margin: 10px 0 0;word-wrap: break-word;}
	.notice-block{padding:10px;}
	.direct-chat-info {width:80%;}
	.direct-chat-active{width:18%;}
	.direct-chat-text{min-width:auto;}
	
}
/*---media query mobile---*/

/*---media query tab---*/
@media (min-width: 768px) and (max-width: 1024px){
	.sm-m-b-5{margin-bottom:5px;}
	.login-heading{font-size:30px;}
	.content-block{padding:40px 20px;}
	.box-nav>li>a{font-size:20px;}
	.event-left{max-width:34%;}
	.event-right{max-width:65%;}
	.detail-panel{float: none !important;margin: 10px 0 0;word-wrap: break-word;}
	.direct-chat-info {width:92%;}
	.direct-chat-active{width:7%;}
}
/*---media query tab---*/


